<div  class=" min-h-screen" style="background-image: url(assets/home1.jpg); background-size: cover;">
<h1 style="text-align: center; margin-bottom: 0;" class="title">Piatti del Giorno</h1>
<div class="menu-container" >


  <div class="card bg-base-100 shadow-xl ">
    <div class="card_img">
      <img src="assets/1.jpg" alt="Shoes" class="rounded-xl lazy animations-scroll in-view-up" />
    </div>
    <div class="card-body">
      <h1 class="card-title" style="justify-content: center;">Espaguetis</h1>
      <hr>
      <p class="price">9.00 $</p>
    </div>
  </div>


  <div class="card bg-base-100 shadow-xl">
    <div class="card_img">
      <img src="assets/2.jpg" alt="Shoes" class="rounded-xl lazy animations-scroll in-view-up" />
    </div>
    <div class="card-body">
      <h1 class="card-title" style="justify-content: center;">Espaguetis</h1>
      <hr>
      <p class="price">9.00 $</p>
    </div>
  </div>



  </div>
</div>
