.cont {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
  text-shadow: 0 0 10px black;
}
.sh {
  text-shadow: 0 0 10px black;
}
.title {
    font-size: 4rem;
    text-align: center;
    margin: 20px 0;
}

.platill {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}

.container {
    text-align: end;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
    max-width: 230px;
    min-width: 230px;
    transition: 0.5s;
    flex-grow: 1;
    animation-name: fadeInUp;
    animation-duration: 3s;
    animation-timing-function: 0.1s;
}


.card_img {
    width: 100%;
    /* Hacer que la imagen ocupe todo el ancho de la tarjeta */
    border-radius: 10px 10px 0 0;
    /* Bordes redondeados en la parte superior */
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.5rem;
    /* Tamaño de fuente para el título */
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
    /* Tamaño de fuente para el párrafo */
}

@media (max-width: 768px) {

    .title {
        font-size: 1.5rem;
        /* Reducir tamaño de fuente en pantallas pequeñas */
    }

    .card {
        max-width: 100px;
        /* Aumentar el ancho máximo en pantallas pequeñas */
        margin: 10px auto;
        /* Centrar las tarjetas */
    }
}

@media (max-width: 480px) {
    .card{

        max-width: 100px;
    }
    .card_img{
        border-radius: 0;
    }

    .title {
        font-size: 1.2rem;
        /* Tamaño aún más pequeño para móviles */
    }

    .card-title {
        font-size: 1.2rem;
        /* Ajustar tamaño del título */
    }

    .card p {

        font-size: 0.9rem;
        /* Ajustar tamaño del párrafo */
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;

        transform: translateY(20px);

    }

    100% {
        transform: translateY(0);

    }
}
